@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h5>For privacy policy documents, please email:</h5>
        <a href="q2043246@live.tees.ac.uk">q2043246@live.tees.ac.uk</a>
<h6>Thank you!</h6>